<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/menu.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/todos.js"></script>
</body>
</html>