.modal-transparent {
    background: transparent;
}
.modal-transparent .modal-content {
    background: transparent;
}
.modal-backdrop.modal-backdrop-transparent {
    background: #ffffff;
}
.modal-backdrop.modal-backdrop-transparent.in {
    opacity: .9;
    filter: alpha(opacity=90);
}

.todo-row {
    color: whitesmoke;
    background: #122b40;
    bottom-margin: 5px;
}

.menu {
    margin-bottom: 20px;
}